<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="employees" routerLinkActive="active" class="nav-link">Employee List</a>
        </li>
        <li class="nav-item">
            <a routerLink="create-employee" routerLinkActive="active" class="nav-link">Create Employee</a>
        </li>
    </ul>
</nav>




<div class="container">
    <router-outlet></router-outlet>
</div>

<footer class="bg-dark text-light text-center py-2 footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="https://rutwik-kumbhar.github.io/" target="_blank"><p>Designed by rutwik@gmail.com</p></a>         
            </div>
        </div>
    </div>
</footer>